* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.me {
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 12px;
}

body .w-md-editor-text-pre > code,
body .w-md-editor-text-input,
body .w-md-editor-preview {
  font-size: 18px !important;
  line-height: 24px !important;
}

body .w-md-editor-toolbar {
  height: 50px !important;
}

body .w-md-editor-toolbar ul button {
  height: 100%;
}

body .w-md-editor-toolbar ul svg {
  width: 30px;
  height: 30px;
  position: relative;
  top: 2px;
}
