.GithubButton {
  width: 100%;
  color: #ffffff;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #4B5563;
  border: 1px solid #4B5563;
  border-radius: 4px;
  transition: all 250ms ease-in;
  cursor: pointer;
}

.GithubButton:hover {
  background-color: #374151;
  border: 1px solid #374151;
}

.GithubButtonLabel {
  font-size: 18px;
  margin-left: 12px;
}