.page-title {
  color: #ebc805;
  font-size: 20px;
  cursor: pointer;
}

.dropdown-list {
  min-width: 300px;
  background-color: hsl(220 10% 20%);
}

.dropdown-list li {
  color: #ebc805;
}

.dropdown-list li:hover {
  background-color: hsl(223, 10%, 28%);
}