.task {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  z-index: 100;
  padding: 0 16px 24px 16px;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
}

.task.hidden {
  display: none;
}

.task-name {
  margin: 24px 0;
  color: rgb(51, 51, 51);
  font-size: 32px;
  font-weight: 600;
}

.task-content h1,
.task-content h2,
.task-content h3,
.task-content h4 
.task-content h5,
.task-content h6 {
  color: rgb(51, 51, 51);
  margin: 24px 0;
}

.task-content p {
  color: rgb(51, 51, 51);
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 20px;
}

.task-content a {
  color: #49a8e4;
}

.task-content code.code {
  color: rgb(51, 51, 51);
  background-color: gainsboro;
  padding: 1px 4px;
  border-radius: 6px;
}

.task-content pre {
  white-space-collapse: collapse !important;
  margin-bottom: 20px !important;
}

.task-content ul,
.task-content ol {
  padding-left: 32px;
  margin-bottom: 20px;
}

.task-content li {
  color: rgb(51, 51, 51);
  font-size: 20px;
  line-height: 28px;
}

.task-content img {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

.task-bottom {
  display: flex;
  justify-content: flex-end;
}

.task-button {
  padding: 8px 18px;
  font-size: 20px;
  color: #ffffff;
  background-color: #4eb543;
  border: 1px solid #4eb543;
  border-radius: 4px;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}

.task-button:hover {
  background-color: #57c74b;
  border: 1px solid #57c74b;
}